@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #FEF6D8;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wallet-adapter-button {
  background-color: #F4BE00 !important;
  color: black !important;
}
