@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  background-color: #d5cfcb !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wallet-adapter-button {
  background-color: #1b1c40 !important;
  color: white !important;
}

$primary: #1b1c40;
$danger: #fef6d8;
$light: #f3f3f3;

@import '../node_modules/bootstrap/scss/bootstrap';
